@font-face {font-family:'Gotham-Book';src:url('/gh/zbku/d/Gotham-Book.otf');src:url('/gh/zbku/d/Gotham-Book.eot?#iefix') format('embedded-opentype'),url('/gh/zbku/d/Gotham-Book.woff2') format('woff2'),url('/gh/zbku/d/Gotham-Book.woff') format('woff'),url('/gh/zbku/d/Gotham-Book.ttf') format('truetype'),url('/gh/zbku/d/Gotham-Book.svg#webfont') format('svg');}
*{ margin:0; padding:0 ;}
html{ -webkit-text-size-adjust:none;/*只针对低版本谷歌*/}
body{background:#f9f9f9;position:relative;font-size:15px;line-height:1.5;font-family: 'Gotham-Book', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB","Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;color:#333}
a{color: #062743;text-decoration:none;}
a:hover{color: #ff5f33}
li{ list-style-type:none;}
img{ border:none; vertical-align:middle;}
.container{width: 1200px;margin: 0 auto}
.clear{ clear:both;}
.mt-50 { margin-top: 50px }
.mb-50 { margin-bottom: 50px }

.menu {position: fixed;top: 0;left: 0;right: 0;z-index: 999;height: 70px;transition: all .3s ease 0s;
    webkit-box-shadow: 0px 5px 10px 0px rgba(17, 58, 93, 0.1);
    -ms-box-shadow: 0px 5px 10px 0px rgba(17, 58, 93, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(17, 58, 93, 0.1);}
.menu .logo-a{float: left;width: 140px;height: 50px;margin-right: 50px;margin-top: 10px}
.menu .logo-a img{width: 100%}
.menu .navbar{width: 950px;float: left;}
.menu .navbar li{float: left;margin-top: 10px}
.menu .navbar li a{color: #fff;padding: 0 15px;line-height: 50px;}
.menu .navbar li a:hover,.menu .navbar .on a{color: #ff5f33}
.menu .sou{float: right;line-height: 70px;color: #fff}
.active{background: #fff;-webkit-transition: all .3s ease-out;transition: all .3s ease-out;}
.active .navbar li a{color: #062743;}
.active .sou{color: #062743}
.search{position: fixed;top:-70px;left:0;right:0;background: #fff;height:50px;transition: top 0.3s cubic-bezier(.4,0,.2,1);padding:10px 0;z-index: 9999;}
.show{top: 0;}
.search .search-form{position: absolute;width: 1200px}
.search .search-input{width:100%;height: 50px;font-size: 17px;border:none;}
.search .icon{position: absolute;right:0;top:8px;font-size: 24px;cursor: pointer;}

.banner {color: #fff;text-align: center;height: 390px;padding-top: 110px;background-color: #2d3757;background-image: url(/gh/zbku/d/banner.jpg);background-position: center center;background-size: cover;background-repeat: no-repeat;position: relative;}
.banner h2{font-size:35px;font-weight:700;margin-bottom:10px}
.banner p{font-size:16px;color: #fff}
.banner a{color: #fff; font-size:18px;display:inline-block;padding:10px 15px 10px 0;}
.banner .search-form,.nybanner .search-form{margin:30px auto 0;box-sizing:content-box;position: relative;}
.banner .search-form .site-search-form,.nybanner .search-form .site-search-form{display: inline-block;}
.banner .search-form .search-cat,.nybanner .search-form .search-cat{display:inline-block;float:left;width:80px;height:44px;border:none;margin-right:-3px;border-radius:30px 0 0 30px;background: #f1f1f1;text-align:center;text-align-last: center;-webkit-appearance: none;}
.banner .search-form .search-input,.nybanner .search-form .search-input{background:#fff;height:44px;line-height:44px;font-size:16px;display:inline-block;float:left;width:500px;font-family:"Microsoft YaHei";text-indent:30px;border-radius:30px 0 0 30px;border:none;}
.banner .search-form .search-cat + .search-input,.nybanner .search-form .search-cat + .search-input{border-radius: 0;text-indent:15px;}
.banner .search-form .search-btn,.nybanner .search-form .search-btn{background:#ff5f33;font-size:16px;height:44px;border:none;color:#fff;display:inline-block;float:left;width:100px;border-radius:0 30px 30px 0;cursor: pointer;}
.banner .search-form .search-btn .icon,.nybanner .search-form .search-btn .icon{font-size:24px;top:0;}

.statistics{margin-top: 30px;}
.statistics .col_fourth { width: 23.5%; }
.statistics .col_fourth {position: relative;display:inline;display: inline-block;float: left;margin-right: 2%;margin-bottom: 20px;}
.statistics .end {margin-right: 0 !important;}
.statistics .counter {padding: 15px 0;}
.statistics .count-title {font-size: 16px;color: #fff;margin-bottom: 0;font-weight:normal;}
.statistics .count-title span{font-size: 32px;margin-right: 5px}
.statistics .count-text { font-size: 14px;color: #8a92a9 }
.statistics .iconfont {color: #ff5f33;font-size: 30px}

.mtitle h2{margin:0 0 45px;font-size:24px;text-align:center;position:relative;font-weight: normal;}
.mtitle h2:after{content:" ";width:20px;background:#ff5f33;height:3px;position:absolute;left:0;top:45px;margin-left:calc(50% - 10px);border-radius: 1.5px;}
.mtitle h2 span{position: relative;}
.mtitle h2 i{position: absolute;right: -43px;top: -10px;background: #ff5f33;padding: 1px 5px;border-radius: 20px 20px 20px 0;color: #fff;font-size: 10px;font-weight:400;font-style: normal;}

.piclist {margin: 0 -10px 20px;position: relative;}
.piclist .li{width:285px;margin:0 10px 20px;float:left;background:#fff;box-shadow:0 0 15px rgba(0,0,0,0.075);position:relative;border-radius:3px;background-size: cover;background-position: center;transition: all .3s ease 0s;}
.piclist .li:hover{box-shadow:0 0 15px rgba(0,0,0,0.15);-webkit-transform: translateY(-3px);transform: translateY(-3px);}
.piclist .li .img{overflow: hidden;border-radius:3px 3px 0 0;position: relative;height: 180px;}
.piclist .li .img a{display: block;height: 100%}
.piclist .li img{width:100%;height:100%;border-radius: 3px 3px 0 0;transition: all .3s ease-out 0s;object-fit: cover;background: #f0f0f0;display: block;font-size:0;}
.piclist .li img:hover{-webkit-transform: scale(1.03);transform: scale(1.03);transition: all .3s ease-out 0s;}
.piclist .li h3{font-size:15px;font-weight:normal;margin:5px 15px 10px;position:relative;}
.piclist .li h3 a{color:#062743;line-height:20px;overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;height:20px}
.piclist .li h3 a:hover{color: #ff5f33}
.piclist .li .cat{padding: 15px 15px 0 15px;display: block;font-size: 12px;color: #8a92a9;margin-left: 18px;position: relative;}
.piclist .li .cat:after {content: " ";width: 4px;height: 4px;display: block;border-radius: 15px;position: relative;left: -18px;top: -13px;border: 2px solid #ff5f33;}
.piclist .li .meta{color:#8a92a9;padding:0 15px 8px 15px;font-size:12px;height: 26px;overflow: hidden;}
.piclist .li .meta .time,.piclist .li .meta .views{margin-right: 8px;position: relative;}
.piclist .li .meta .time i,.piclist .li .meta .views i{font-size: 10px;margin-right: 5px}
.piclist .li .meta .video{color: #ff5f33;position: absolute;right: 15px;top: 8px;z-index: 9;}
.piclist .li .meta .video .iconfont{font-size: 20px}
.loadmore{margin: 0 auto;display: block;text-align: center;}
.loadmorep{color: #999;text-align: center;}

.more{text-align:center;margin-bottom:30px;margin-top:15px}
.more a{display:inline-block;padding:10px 80px;text-decoration:none;background-color:#ff5f33;color:#fff !important;border-radius:50px;}
.more a:hover{opacity:.88}
.nybanner{padding:50px 0;margin-top: 70px;background-image: none;background-color: #ff5f33;}
/**.nybanner{padding:50px 0;margin-top: 70px;background-image: none;background-color: #ff5f33;}**/
.nybanner h2{text-align: center;font-weight: 500;color: #fff}

.filters{padding:15px 20px;border:1px solid #eaeaea;margin-bottom:30px;border-radius: 3px;}
.filter-item{margin-bottom:7px;padding:0 0 7px 70px;position:relative;border-bottom: 1px dashed #eaeaea;}
.filter-item:last-child{border-bottom: none;padding-bottom: 0;margin-bottom:0}
.filter-item>span{font-weight:600;position:absolute;left:0;top:7px}
.filter{display:inline-block;font-size: 14px;}
.filter a{display:inline-block;margin:5px;padding:3px 10px}
.filter a.active{background:#ff5f33;color:#fff;border-radius:50px;font-size: 12px;}

.pagination{margin:0;padding-top: 15px;margin-bottom:30px;text-align:center;font-size:12px;display:block;border-radius:0}
.pagination ul{display:inline-block !important;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;padding:0}
.pagination ul > li{display:inline}
.pagination ul > li > a,.pagination ul > li > span{margin:0 2px;float:left;padding:5px 12px;background-color:#ddd;color:#666;border-radius:2px;opacity:.88}
.pagination ul > li > a:hover,.pagination ul > li > a:focus{opacity:1}
.pagination ul > .active > a,.pagination ul > .active > span{background-color:#ff5f33;color:#fff}
.pagination ul > .active > a,.pagination ul > .active > span{cursor:default}

.breadcrumbs{padding:0 0 15px;font-size:14px;color:#8a92a9;margin-top: 100px}
.breadcrumbs .sep{color:#8a92a9;}
.breadcrumbs .current{color:#8a92a9;}

.detail{overflow: hidden;position: relative;}
.content{width: 870px;float: left;}
.article{background: #fff;padding: 20px;margin-bottom:20px;border-radius: 3px;}
.article .title{font-size:24px;margin:0 0 10px;font-weight: normal;}
.article .meta{color:#8a92a9;margin-bottom:15px;font-size: 13px;}
.article .meta .item{margin-right:15px;display:inline-block}
.article .meta i{font-size: 10px}
.article audio {width: 100%;margin-bottom: 15px;}
.article .text{font-size:16px;line-height:1.7;margin-bottom: 10px;}
.article .text img{max-width:100%;display: block;margin: 5px auto;}
.article .text a{text-decoration:underline}
.article .text p{text-indent:2em;}
.article .text table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:30px}
.article .text table th{background-color:#f9f9f9;text-align:center}
.article .text table th,.article-content table td{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.article .tags{margin-bottom:20px}
.article .tags a{display:inline-block;margin-bottom:3px;padding:8px 10px 7px;line-height:1;font-size:12px;border-radius:2px;margin-right:5px;color:#fff;background-color:#ff5f33}
.article .tags a:nth-child(5n) {background-color: #4A4A4A}
.article .tags a:nth-child(5n+1) {background-color: #ff5e5c}
.article .tags a:nth-child(5n+2) {background-color: #ffbb50}
.article .tags a:nth-child(5n+3) {background-color: #1ac756}
.article .tags a:nth-child(5n+4) {background-color: #19B5FE}

.shares{float: left;}
.shares b{font-size: 12px;color: #8a92a9;font-weight: normal;display: block;margin-bottom: 5px;}
.shares i{font-size:18px;top:0;}

.article .act{float: right;text-align: center;margin-top: 23px;}
.article .act .zan{margin-left: 5px;display: inline-block;color: #8a92a9 !important;height: 30px;line-height: 30px;}
.article .act .zan.active{color: #ff5f33 !important;}
.article .act .zan .iconfont{top:0;font-size:26px;}
.article .act .zan span{font-family: tahoma,arial,sans-serif;}

.article-nav{clear:both;overflow:hidden;color:#8a92a9;font-size:12px;background: #fff;border-radius: 3px;margin-bottom: 20px;padding:20px;}
.article-nav a{font-size:14px}
.article-nav .article-nav-prev{float:left;width:49%;border-right: 1px dashed #eaeaea;}
.article-nav .article-nav-next{float:right;width:49%;text-align:right}

.ny-ad{text-align:center;margin-bottom:20px;position: relative;overflow: hidden;border-radius: 3px;}
.ny-ad img{max-width:100%;height:auto}
.ny-ad .item{width:285px;margin: 0 10px;display: block;float: left;}
.ny-ad .item img{border-radius: 3px;}
.ny-ad .item:first-child{margin-left: 0;}
.ny-ad .item:last-child{margin-right: 0}

.like{margin-bottom:20px;background:#fff;padding:20px 20px 0;border-radius: 3px;}
.like .title{margin-bottom:15px;line-height:1;font-weight:normal;font-size:17px}
.like .likep .li{width:262px;}

.sidebar{width: 300px;float: right;}
.sidebar .widget {padding: 15px;background: #fff;margin-bottom: 20px;border-radius: 3px;overflow: hidden;position: relative;}
.sidebar .widget .affix{position:fixed;width:300px;z-index:999}
.sidebar .widget h3{margin-bottom:15px;font-size:17px;font-weight: normal;}
.sidebar .widget img{max-width:100%;height:auto}
.sidebar .widget-tags .items a{padding:5px 8px;margin:0 8px 8px 0;display:inline-block;background:#f1f1f1;color:#444;font-size:12px;border-radius:2px}

.sidebar .postlist .hasimg{margin-top:-8px}
.sidebar .postlist .hasimg li{padding:8px 0 0 105px;height:82px;position:relative}
.sidebar .postlist .hasimg li .img{position:absolute;left:0;width:95px;overflow: hidden;}
.sidebar .postlist .hasimg li .img img{width:100%;height:66px;border-radius: 2px;}
.sidebar .postlist .hasimg li .meta{font-size:12px;color:#8a92a9;margin:0}
.sidebar .postlist .hasimg li .meta span{margin-right:10px}
.sidebar .postlist .hasimg li .meta{position:absolute;bottom:4px;margin-bottom: 10px}
.sidebar .postlist .hasimg li .meta .time{display:none}

.back-to-top.cd-is-visible,
.back-to-top.cd-fade-out, 
.no-touch .back-to-top:hover {-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.back-to-top.cd-is-visible {visibility: visible;opacity: 1;}
.back-to-top {color: #fff; display: inline-block;height: 40px;width: 40px;position: fixed;bottom: 30px;right: 30px;z-index: 10;overflow: hidden;white-space: nowrap;background: #747787;visibility: hidden;opacity: 0;text-align: center;line-height: 40px;border-radius: 5px;}
.back-to-top:hover{color: #fff;background: red;}

.footer{position:relative;z-index:9;clear:both;padding:40px 15px;font-size:12px;text-align:center;color:#666e8e;background:#1c1f2b}
.footer a{color:#bdcadb}
.footer-links{text-align:left;margin-bottom:20px;color:#bdcadb;border-top: 1px solid #393f56;border-bottom: 1px solid #393f56;}
.footer-links ul{list-style:none;display:inline-block}
.footer-links ul li{float:left;margin:10px 5px 5px}
.footer-links a{color:#666e8e}
.copyright a{color:#fff}

.videosamplex{height: 480px}


.smalltext{background: #f5f5f5;padding:5px 10px;margin-bottom: 10px;font-size: 17px;color: #333;border-radius: 5px}
.smalltext .answer{border: 1px solid #999;padding: 2px 6px;margin-right: 5px;border-radius: 7px;font-size: 13px}




/**step css 2021-07-27**/
.ds-text-info{color: #999;margin-top: 5px;}
.ds-h5 {border-bottom: 1px solid #eee;padding: 10px 0;margin-bottom: 10px;font-weight:bold;}
.ds-h5s {border-bottom: 1px solid #eee;padding: 10px 0;margin-bottom: 10px;}
.ds-step{padding-top: 10px;}
.ds-step-li{border-left: 1px solid #eee;margin-left: 10px;padding-left: 10px;}
.ds-step .num{float: left;width: 40px;height: 40px;line-height: 40px;text-align: center;position: relative;background-color: #ff5f33;color: #fff;border-radius: 50%;font-size: 20px;left: -30px;}
.ds-step .title{text-align: left;position: relative;left: -20px;color: #ff5f33;}
.ds-step .img{margin:7px 0;}
.ds-step .img img{max-width: 100%;}
.ds-step .text{padding-bottom: 15px;margin-bottom: 0;}
.ds-end{font-size: 14px;color: #ccc;}
